<nav class="navbar">
  <div class="logo">TofyVisions</div>
  <div class="nav-buttons">
      <a routerLink="/login" class="btn">Prijava</a>
      <a routerLink="/register" class="btn">Registracija</a>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="introduction">
  <h1>Dobrodošli v TofyVisions</h1>
  <p>TofyVisions je platforma za umetnike, kjer lahko delite svoja dela, odkrijete nove umetnosti in se povežete z drugimi ustvarjalci.</p>
</div>

<div class="features">
  <h2>Funkcionalnosti:</h2>
  <ul>
      <li>Registracija in prijava uporabnikov.</li>
      <li>Urejanje profila z biografijo, povezavami in portfeljem.</li>
      <li>Možnost dodajanja slik, videoposnetkov in 3D modelov.</li>
      <!-- ...ostale funkcionalnosti... -->
  </ul>
</div>

<div class="gallery-preview">
  <h2>Izbrane umetnine</h2>
  <div class="galerija">
      <img src="path-to-image1.jpg" alt="Umetnina 1">
      <img src="path-to-image2.jpg" alt="Umetnina 2">
      <img src="path-to-image3.jpg" alt="Umetnina 3">
      <!-- ...več slik... -->
  </div>
</div>

<div class="call-to-action">
  <h2>Postanite del naše skupnosti</h2>
  <p>Registrirajte se danes in začnite deliti svojo umetnost z drugimi!</p>
  <a routerLink="/register" class="btn">Registracija</a>
</div>

<footer>
  <p>© 2023 TofyVisions. Vse pravice pridržane.</p>
</footer>
